<h1>Home</h1>
<p>You are visitor number: <%= @visitor_number %></p>

<nav>
  <%= link_to "Rails playground", pages_playground_path %>
  <%= link_to "About", pages_about_path %>
  <%= link_to "Contact", pages_contact_path %>
</nav>
